.toast-top-right {
    top: 70px;
}

.btn-price {
    width: 100%;
    padding-left:0;
    padding-right:0;
    margin:0;
}

.btn-price .price {
    display: none;
}

.btn-price:hover .buy {
    display: none;
}

.btn-price:hover .price {
    display: inline;
}

.price::before {
    content: '$';
}

img.perfect-fit {
    width: 100%;
}
.center-oversized{
    position: absolute;
    top: -100px;
    bottom: -100px;
    left: -100px;
    right: -100px;
    margin: auto;
}

.img-container {
    width: 950px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background-color: #ccc;
}

.navbar-center {
    width: 100%;
    text-align: center;
}

.navbar-center > li{
    float: none;
    display: inline-block;
    width: 25%;
}

.truncate {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: 125px;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.4;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-menu{
    min-width: 100%;
}
.dropdown-menu > li > a{
    text-align: center;
}

.card{
    margin:0;
    padding:0;
    max-width: 200px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    color: red;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    font-size: x-large;
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

#carousel1, .carousel-mask{
    height: 350px;
}