doctype
html
    head
        title Grapefruit Bay
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet", href="/lib/kendo-ui/styles/kendo.common.min.css")
        link(rel="stylesheet", href="/lib/kendo-ui/styles/kendo.default.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(href="/css/custom-styles.css", rel="stylesheet")
        link(rel="stylesheet" href="/lib/mdb-free/css/mdb.min.css")
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
        script(type="text/javascript" src="/lib/angular/angular.js")
    body(ng-app="app" ng-cloak)

    nav.navbar.z-depth-2.deep-orange
        .container
            .navbar-header.dropdown-hover
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="/").navbar-brand.waves-effect.waves-light GBay

            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                include account/login

    section.animsition
        block main-content

    footer.page-footer.z-depth-2.deep-orange.darken-1(if='footer')
        .footer-copyright
            .container.text-center
                .col-md-10.col-md-offset-1
                    | © 2016
                    a(href='http://telerikacademy.com')  TelericAcademy.com

        include includes/scripts
        include includes/currentUser