doctype
html
    head
        title Grapefruit Bay
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
        script(type="text/javascript" src="/lib/angular/angular.js")
    body(ng-app="app" ng-cloak)

    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand.col-md-1(href="/") GBay
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/books") Books
                    li
                        a(href="/games") Games
                    li
                        a(href="/movies") DVD's & Blu-ray
                include account/login

    section.animsition
        block main-content

        include includes/scripts
        include includes/currentUser

        //footer
        //    p.text-center
        //        | &copy; Team-21 2016