extends includes/layout
block main-content
    nav.navbar.z-depth-2.deep-orange
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="#/").navbar-brand.waves-effect.waves-light GBay

            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                div(ng-include="'partials/account/login'")
    section.container
        h1.text-center Grapefruit Bay Bookstore

        #carousel1.carousel.slide.carousel-fade.hoverable
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#carousel1', data-slide-to='0')
                li(data-target='#carousel1', data-slide-to='1')
                li(data-target='#carousel1', data-slide-to='2')
            // Wrapper for slides
            .carousel-inner.z-depth-2(role='listbox')
                // First slide
                .item.active
                    .view.overlay.hm-blue-slight.img-container
                        a
                            img.img-responsive.perfect-fit(src='http://dmhdwallpapers.com/wp-content/uploads/2015/04/cute-cat-hd-free.jpg', alt='slide1')
                            .mask.waves-effect.waves-light
                        .carousel-caption.hidden-xs
                            .animated.fadeInDown
                                h5 Lorem ipsum dolor sit amet
                // /.item
                // Second slide
                .item
                    .view.overlay.hm-blue-slight.img-container
                        a
                            img.img-responsive.perfect-fit(src='http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg', alt='slide2')
                            .mask.waves-effect.waves-light
                        .carousel-caption.hidden-xs
                            .animated.fadeInDown
                                h5 Lorem ipsum dolor sit amet
                // /.item
                // Third slide
                .item
                    .view.overlay.hm-blue-slight.img-container
                        a
                            img.img-responsive.perfect-fit(src='http://www.i-love-cats.com/images/2015/04/12/cat-wallpaper-38.jpg', alt='slide3')
                            .mask.waves-effect.waves-light
                        .carousel-caption.hidden-xs
                            .animated.fadeInDown
                                h5 Lorem ipsum dolor sit amet
                // /.item
            // /.carousel-inner
            // Controls
            a.left.carousel-control.new-control(href='#carousel1', role='button', data-slide='prev')

                span.fa.fa.fa-angle-left.waves-effect.waves-light
                span.sr-only Previous
            a.right.carousel-control.new-control(href='#carousel1', role='button', data-slide='next')
                span.fa.fa.fa-angle-right.waves-effect.waves-light
                span.sr-only Next

        // /.carousel

        nav.navbar.z-depth-2.deep-orange
            .container
                #bs-example-navbar-collapse-3.collapse.navbar-collapse.nav.navbar-center
                    ul.nav.navbar-nav.navbar-center
                        li
                            a.waves-effect.waves-effect.waves-light(href="#/books") Books
                        li
                            a.waves-effect.waves-effect.waves-light(href="#/games") Games
                        li.dropdown
                            a.dropdown-toggle.waves-effect.waves-light(data-toggle="dropdown", role="button", aria-expanded="false")
                                | Stationary
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#") Office supplies
                                li.divider
                                li
                                    a(href="#") School stationary
                                li.divider
                                li
                                    a(href="#") Files & Folders
                                li.divider
                                li
                                    a(href="#") Drawing & art set
    section
        div(ng-view)

    footer.page-footer.z-depth-2.deep-orange.darken-1(if='footer')
        .footer-copyright
            .container.text-center
                .col-md-10.col-md-offset-1
                    | © 2016 Telerik Academy
                    a(href='http://telerikacademy.com') TelericAcademy.com

    script(type="text/javascript") $(document).ready(function () {$('.dropdown-toggle').dropdown();});