doctype html
head
    title Grapefruit Bay

    link(rel="stylesheet", href="/lib/toastr/toastr.css")
    link(rel="stylesheet", href="/lib/kendo-ui/styles/kendo.common.min.css")
    link(rel="stylesheet", href="/lib/kendo-ui/styles/kendo.default.min.css")
    link(href="lib/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    link(href="http://mdbootstrap.com/mdbcdn/mdb.min.css", rel="stylesheet")
    link(href="css/custom-styles.css", rel="stylesheet")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='icon', href='favicon.ico')
body(ng-app="app")

    block main-content

    include scripts
    include currentUser
