script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/lib/kendo-ui/js/kendo.core.min.js")
script(type="text/javascript", src="lib/mdb-free/js/mdb.min.js")
    // main
script(type="text/javascript" src="/app/main/mainCtrl.js")
    // users
script(type="text/javascript" src="/app/account/loginCtrl.js")
script(type="text/javascript" src="/app/account/signUpCtrl.js")
script(type="text/javascript" src="/app/account/profileCtrl.js")
script(type="text/javascript" src="/app/account/identity.js")
script(type="text/javascript" src="/app/account/auth.js")
script(type="text/javascript" src="/app/account/usersResource.js")
script(type="text/javascript" src="/app/admin/userListCtrl.js")
    // books
script(type="text/javascript" src="/app/books/bookEdit.js")
script(type="text/javascript" src="/app/books/booksListCtrl.js")
script(type="text/javascript" src="/app/books/bookDetailsCtrl.js")
script(type="text/javascript" src="/app/books/bookPublishCtrl.js")
script(type="text/javascript" src="/app/books/bookReviewCtrl.js")
script(type="text/javascript" src="/app/books/bookResource.js")
script(type="text/javascript" src="/app/books/bookEditCtrl.js")
script(type="text/javascript" src="/app/books/cachedBooks.js")
    // games
script(type="text/javascript" src="/app/games/gamesListCtrl.js")
script(type="text/javascript" src="/app/games/gameDetailsCtrl.js")
script(type="text/javascript" src="/app/games/gameResource.js")
script(type="text/javascript" src="/app/games/cachedGames.js")
    //movies
script(type="text/javascript" src="/app/movies/movieEdit.js")
script(type="text/javascript" src="/app/movies/moviesListCtrl.js")
script(type="text/javascript" src="/app/movies/movieDetailsCtrl.js")
script(type="text/javascript" src="/app/movies/moviePublishCtrl.js")
script(type="text/javascript" src="/app/movies/movieResource.js")
script(type="text/javascript" src="/app/movies/movieEditCtrl.js")
script(type="text/javascript" src="/app/movies/cachedMovies.js")
    //common
script(type="text/javascript" src="/app/common/notifier.js")
