.container
    .row
        .panel.panel-default
            .panel-heading.text-center New Books
            .panel-body(ng-include="'/partials/main/new-books'")
            .panel-footer
                .row.text-center
                    ul.pagination.pag-circle
                        li
                            a(href='#!')
                                i.material-icons chevron_left
                        li(ng-repeat='page in [1, 2, 3, 4, 5]', ng-class="page == vm.currentPage ? 'active' : ''")
                            a(href='#', ng-click='vm.search(request, page)') {{page}}

                        li
                            a(href='#!')
                                i.material-icons chevron_right


    .row
        .panel.panel-default
            .panel-heading.text-center Games
            .panel-body(ng-include="'/partials/main/games'")
            .panel-footer
                .row.text-center
                    ul.pagination.pag-circle
                        li
                            a(href='#!')
                                i.material-icons chevron_left
                        li(ng-repeat='page in [1, 2, 3, 4, 5]', ng-class="page == vm.currentPage ? 'active' : ''")
                            a(href='#', ng-click='vm.search(request, page)') {{page}}

                        li
                            a(href='#!')
                                i.material-icons chevron_right


