div(ng-repeat="book in books | orderBy: '-published' | limitTo: 10")
    .row
        .col-md-3
            | {{ book.published }}
        .col-md-9
            a(href="#/courses/{{ course._id }}") {{ book.title }}
