



.container
    .row
        .col-md-3
            .sidebar
                .collection
                    a.collection-item(href='#')
                        h6 Home
                    a.collection-item(href='#/books') Books
                    a.collection-item(href='#/games') Games
                    a.collection-item(href='#/movies') Movies
                    a.collection-item(href='#/stationary') Stationary
        .col-md-9
            .thumbnail
                img.img-responsive.z-depth-2(width="400", src='{{movie.imageUrl}}', alt='')
                .caption-full
                    h4.pull-right.price {{movie.price}}
                    h4
                        a(href='') {{movie.title}} ({{ movie.released}})
                    h6 {{movie.director}}
                    p
                        | {{movie.description}}
                .ratings
                    p.pull-right {{movie.reviews.length}} reviews
                    p
                    ul.list-inline
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    |  4.0 stars
                    p
            .well
                .text-right(ng-show="identity.isAuthenticated()")
                    a.btn.btn-success.waves-effect.waves-light(href="#/movies/{{movie._id}}/review") Leave a Review
                .wrapper(ng-repeat="review in movie.reviews")
                    hr
                    .row
                        .col-md-12
                            ul.list-inline
                                i.fa.fa-star(ng-repeat="idx in [1, 2, 3, 4, 5] | limitTo: review.rating")
                            |  {{review.author}}
                            span.pull-right 10 days ago
                            p {{ review.content }}


        .pull-right(ng-show="identity.currentUser.isAdmin()")
            a.btn.btn-danger(href="#/books/edit/{{ movie._id }}") Edit book
