.container
    h2 {{ movie.title }}
    h3 {{ movie.director }}
    img(ng-src="{{book.imageUrl}}")
    p Description: &nbsp  {{ movie.description }}
    ul
        li(ng-repeat="tag in book.tags") {{ tag }}
    p {{ movie.released}}
    ul Reviews
        li(ng-repeat="review in movie.reviews") {{ review.content }}
        li(ng-show="identity.isAuthenticated()")
            a(href="#/movie/{{movie._id}}/review") Add review
    .pull-right(ng-show="identity.currentUser.isAdmin()")
        a.btn.btn-danger(href="#/movie/edit/{{ movie._id }}") Edit movie